body {
    background-color: #666666;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    color: #eeb3b3;
    text-align: center;
}

a {
    color: #C2F0FF;
    text-decoration: Nueva Condensed;
}

h3 {
	color: #b3d3ee;
	text-align: center;
}

p {
    text-align: left; 
}