body {
    background-color: #ffbcbc;
    font-family: Bebas, Futura, Helvetica;
    font-size: 30px;
    color: #ffbcbc;
    text-align: center;
}

a {
    color: #C2F0FF;
    text-decoration: none;
}

p {
    text-align: center; 
}