body {
    background-color: #666666;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    color: #eeb3b3;
    text-align: center;
}

a {
    color: #C2F0FF;
    text-decoration: Nueva Condensed;
}

p {
    text-align: center; 
}
.wrapper {
    width: 200px;
    margin:40px 200px 200px;
}