body {
    background-color: #ffffff;
    font-size: 30px;
    font-family: 'Shadows Into Light Two', Helvetica, Sans-serif;
    color: #843a3a;
    text-align: center;
    position: inherit;
}
a {
    color: #C2F0FF;
    text-decoration: Nueva Condensed;
}

p {
    text-align: center; 
    top: -500px;
    font-family: sans-serif, hand;
}
.h1 {
  font: helvetica;  
}